<section #todos class="section">
  <div>
    <div class="todos-top">
      <p-button
        [label]="actionTitle"
        icon="pi pi-check"
        class="full-btn"
        (onClick)="onTodosFetch()"
      />
      <p-dropdown
        [options]="generateItemsCount(10)"
        [(ngModel)]="selectedRandomCount"
        optionLabel="label"
        placeholder="Select a
      Count"
        (onChange)="onTodosFetch()"
      />
    </div>

    <div class="todos-list">
      @for (todo of todos$ | async; track todo.id) {
      <div class="todo-wrapper">
        <p-card [header]="todo.todo" class="todo">
          <div class="todo-inner">
            <div>
              <p class="m-0">{{ "Todo Card #" + todo.id }}</p>
              <span style="font-weight: 600">
                Status:
                <button
                  type="button"
                  class="todo-btn"
                  [ngClass]="{
                    completed: todo.completed,
                    incomplited: !todo.completed
                  }"
                  (click)="onToggleCompleteness(todo.id)"
                >
                  {{ todo.completed ? "completed" : "incomplited" }}
                </button>
              </span>
            </div>
            <div class="todo-btns">
              <p-button
                label="Regenerate"
                severity="success"
                [style]="{ width: '100%' }"
                (onClick)="onRegenerateTodo(todo.id)"
              />
              <p-button
                label="Remove"
                type="button"
                severity="secondary"
                [style]="{ width: '100%' }"
                (onClick)="onRemoveTodo(todo.id)"
              />
            </div>
          </div>
        </p-card>
      </div>
      }
    </div>
  </div>
</section>
