.main-link {
  transform: translateX(0);
  transition: transform 0.3s;
}

.main-link:hover {
  transform: translateX(25px);
}

@media (max-width: 1023px) {
  .main-link:hover {
    transform: none;
  }
}
